@model ABC_Money_Transfer_System.Models.Users

<h2>User Details</h2>

<div>
    <strong>First Name:</strong> @Model.FirstName
</div>
<div>
    <strong>Middle Name:</strong> @Model.MiddleName
</div>
<div>
    <strong>Last Name:</strong> @Model.LastName
</div>
<div>
    <strong>Address:</strong> @Model.Address
</div>
<div>
    <strong>Country:</strong> @Model.Country
</div>

<a asp-action="Index" class="btn btn-primary">Back to List</a>
